<table
  [class.loading]="isLoading"
  mat-table
  [dataSource]="isLoading ? fakeItems.items : pagedItems.items"
  matSort
  (matSortChange)="sortData($event)"
>
  <!-- Name column -->
  <ng-container matColumnDef="version">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Version</th>
    <td mat-cell *matCellDef="let element">{{ element.version }}</td>
  </ng-container>

  <!-- Created by column -->
  <ng-container matColumnDef="createdBy">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Created by</th>
    <td mat-cell *matCellDef="let element">{{ element.createdBy }}</td>
  </ng-container>

  <!-- Created on column -->
  <ng-container matColumnDef="createdOn">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Created on</th>
    <td mat-cell *matCellDef="let element">{{ element.createdOn | date }}</td>
  </ng-container>

  <!-- View schemas -->
  <ng-container matColumnDef="viewSchema">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="primary" (click)="viewSchemaClicked(element)">View</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator
  [length]="pagedItems.totalCount"
  [pageSizeOptions]="[10, 20, 50]"
  [pageIndex]="currentState.paginationState.page"
  [pageSize]="currentState.paginationState.size"
  (page)="pageChanged($event)">
</mat-paginator>
