<ng-container [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
    <mat-error appValidationMessage></mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Permissions</mat-label>
    <mat-select formControlName="permissions" multiple>
      <mat-select-trigger>
        <span matTooltip="{{ permissionsDisplayText }}">{{ permissionsDisplayText }}</span>
      </mat-select-trigger>
      <mat-option *ngFor="let permission of permissions" [value]="permission.id">{{ permission.displayName }}</mat-option>
    </mat-select>
    <mat-error appValidationMessage></mat-error>
  </mat-form-field>
</ng-container>
